html body {
  margin: 0;
  background-color: #f9bebd;
  transition: 0.9s all;
  color: #383434;
  height: 100%;
  /* header + footer */
  /* header */
  /* main-content */ }
  html body ::selection {
    background: #e2adac; }
  html body ::-moz-selection {
    background: #e2adac; }
  html body.changeColor {
    background: #f6f8f6; }
    html body.changeColor footer {
      display: block;
      border-top: 1px solid #383434; }
  html body h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900; }
  html body p {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 11px;
    color: #262626; }
  html body a {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #383434;
    text-decoration: none; }
    html body a:hover, html body a:active {
      text-decoration: line-through; }
    html body a:visited {
      color: #000; }
  html body header, html body footer {
    text-align: center;
    z-index: 11;
    /* nav */ }
    html body header h1, html body footer h1 {
      margin-top: 0;
      color: #f6f8f6;
      font-size: 24px; }
    html body header nav ul, html body footer nav ul {
      padding: 0;
      text-align: center;
      margin: 0 auto; }
      html body header nav ul li, html body footer nav ul li {
        display: inline;
        margin: 0 12px;
        cursor: pointer; }
  html body header.changeHeader {
    width: 100%;
    background-color: #f9bebd;
    position: fixed;
    padding-bottom: 0;
    border-bottom: 1px solid #383434; }
    html body header.changeHeader #logo {
      display: none; }
    html body header.changeHeader h1 {
      color: #383434;
      transition: 0.5s all;
      font-size: 16px;
      margin: 12px 0; }
    html body header.changeHeader nav {
      display: none;
      float: left;
      top: -18px;
      position: relative; }
      html body header.changeHeader nav li a {
        color: #383434; }
  html body header #logo {
    width: 100px;
    height: 70px; }
  html body header ul li form {
    display: inline; }
    html body header ul li form input {
      min-width: 160px;
      padding: 2px;
      margin-top: 12px; }
  html body .main-content {
    text-align: center;
    padding-bottom: 70px; }
    html body .main-content section {
      display: inline-block;
      width: 90%;
      margin: 0 auto;
      cursor: pointer; }
      html body .main-content section ul.top-image {
        margin: 0; }
      html body .main-content section img {
        border-radius: 2px;
        display: block;
        width: 100%; }
    html body .main-content ul {
      padding: 0;
      list-style-type: none; }
      html body .main-content ul li {
        display: inline-block;
        width: 100%; }
        html body .main-content ul li img {
          width: 100%;
          height: auto;
          box-shadow: 2px 4px 3px 2px rgba(50, 50, 50, 0.15); }
        html body .main-content ul li p {
          padding: 8px;
          text-align: left; }
        html body .main-content ul li span.hidden-text {
          color: #f6f8f6;
          z-index: 10;
          cursor: pointer;
          display: table;
          position: relative;
          margin: 0 auto;
          opacity: 0;
          -webkit-transition: opacity 500ms;
          -moz-transition: opacity 500ms;
          -o-transition: opacity 500ms;
          transition: opacity 500ms; }
          html body .main-content ul li span.hidden-text h1 {
            display: table-cell;
            vertical-align: middle;
            font-size: 24px;
            position: relative;
            top: 50px; }
    html body .main-content ul li:hover img {
      -webkit-filter: brightness(50%);
      /* Safari */
      filter: brightness(50%); }
    html body .main-content ul li:hover span.hidden-text {
      opacity: 1; }
  html body footer {
    border-top: 1px solid transparent;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 20px;
    padding: 12px 0;
    display: none;
    background-color: #f9bebd; }
    html body footer nav ul li a {
      color: #383434; }

/* html body */
@media only screen and (min-width: 600px) {
  /* For tablets: */ }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  html body header nav ul li {
    display: inline; }
    html body header nav ul li a {
      color: #383434; }
    html body header nav ul li input {
      margin-top: 0; }
  html body section {
    width: 75%; }
    html body section ul.bottom-images li {
      width: 32.8%; } }

/*# sourceMappingURL=main.css.map */
